.pantalla__reserva--contenedor {
  background-color: #e5e5e5;
}

/* Modelo adaptativo tablet */
@media screen and (min-width: 768px) {
}

/* Modelo adaptativo destokp */
@media screen and (min-width: 992px) {
  .pantalla__reserva--contenedor {
    display: flex;
    gap: 48px;
    padding-left: 38px;
    padding-right: 20px;
    padding-bottom: 50px;
  }
  .reserva__titulo {
    background-color: #e5e5e5;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: var(--color-dos);
    padding-left: 45px;
    padding-top: 38px;
  }
  .reserva__politicas>h3{
    background-color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: var(--color-dos);
    padding-left: 45px;
    padding-top: 38px;
    padding-bottom: 30px;
  }
  .reserva__politicas hr{
    bottom: 0.625rem;
    background-color: var(--color-principal);
    border: 1px solid var(--color-principal);
  }
  .reserva__politicas .bloque_politicas{
   padding-top: 40px;
   padding-bottom: 150px;

  }
}
